h3, h4 {
  font-family: 'Lato', serif;
}
p {
  font-family: 'Merriweather', sans-serif;
}
label {
  font-family: 'Lato', serif;
}
input {
  font-family: 'Merriweather', sans-serif;
}
fieldset {
  font-family: 'Merriweather', sans-serif;
}
#logo {
  float: right;
  padding: 10px;
}
#about {
  border-bottom: 5px solid #5174E9;
}
#no-traffic-img {
  float: right;
  margin-right: 100px;
  margin-top: 50px;
}
#share-a-car {
  float: left;
}
#submit {
  font-family: 'Lato', serif;
  background-color: #BBC6EC;
  color: #1032A0;
  border-radius: 10px;
  width: 100px;
  margin-bottom: 20px;
}
#sign {
  margin-top:50px;
  float: left;
}
#background-image {
  background-image: url(map.png);
  padding: 20px;
}
#form {
  background-color: rgba(182, 182, 180, 0.7);
  padding: 5px 20px 20px 20px;
}
#find {
  font-weight: bold;
}
#bill-quote, #steve-quote, #jack-quote {
  border-bottom: 2px dotted #5174E9;
  padding: 5px;
}
#bill {
  height: 150px;
  margin-top: 30px;
  margin-bottom: 10px;
}
#steve, #jack {
  height: 150px;
  margin-bottom: 10px;
}
#sky {
  background-image: url(http://www.mrwallpaper.com/wallpapers/doubled-freeway-at-night-1600x900.jpg);
  padding: 20px;
}
#contact-us {
  background-color: rgba(182, 182, 180, 0.5);
  padding: 5px 20px 20px 20px;
}